.homecontainer {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  background-color: rgba(34, 139, 34, 0.285);
}
.homenav {
  display: flex;
  height: 100vh;
}
.homecontent {
  flex-grow: 1;
  height: 30vh;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.homecontent > * {
  margin: 6px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}
