.container {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}
.nav {
  display: flex;
  height: 30vh;
}
.content {
  flex-grow: 1;
  background-color: rgba(34, 139, 34, 0.285);
  height: 30vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.content > * {
  margin: 6px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

h2 {
  color: #333;
}

footer {
  text-align: center;
  color: #777;
  font-size: 14px;
}
