.sidebar {
  width: 10vw;
  background-color: rgba(34, 139, 34, 0.285);
  padding: 20px;
  border-right: 5px solid #448844;
  align-items: flex-start;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.links {
  display: flex;
  flex-direction: column;
  margin: 36px 6px 8px 6px;
}

.links a:hover {
  color: rgb(219, 218, 218);
}
